@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');
// Colors: React skyblue, Red/Orange, Green


#main-video-container {
    display: flex;
    justify-content: center;
}

.root {
    font-family: 'Raleway', sans-serif;
}

.login-box {
    height: '500px';
    width: '600px';
    border:'2px';
    border-style: 'solid';
    display: "flex";
    justify-content: 'center';
    align-items: 'center';
    margin: '0 auto'

}